body {
   




  background-image: url(imagens/pp.jpg);

  
  font-size: 25px;
  <font face="Times"> Times </font> <br />






 ﻿
    font-style: italic;
}
.column {
    float: left;
    width: 33.33%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}



}
